body{
    font-family: 'Rubik Bubbles', cursive;
    background-color: chocolate;

}

.header_div{
    background-color: antiquewhite;
color: rgb(208, 126, 18);

}

.header_div p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(22, 22, 22);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;

}

.main_div button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
letter-spacing: 3px;

}

.copyright_footer{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color:azure ;
    font-size: 18px;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
}